@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: rgb(36, 62, 99);
}

section {
    padding: 0 32px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

div {
    display: block;
    unicode-bidi: isolate;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
    padding-left: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.purple {
    color: rgb(100, 21, 255);
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

button {
    cursor: pointer;
    border: none;
}

/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0px;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin: 0px 24px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(69, 66, 66);
    padding-top: 4px; 
    font-weight: 600;
    letter-spacing: 0.35px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    position: relative;
    transition: 300ms;
}

.nav__link:hover {
    text-decoration: underline;
    text-underline-offset: calc(6px);
    text-decoration-color: rgb(100, 21, 255);
    padding-top: 4px;
    position: relative;
    transition-duration: .3s;
    transition-property: all ease;
    width: 39px;
    text-decoration-thickness: 2px;
}

a {
    display: inline;
    text-decoration: none;
}

.nav__link--login {
    margin-left: 55px;
    margin-right: 14px;
}

.nav__link--primary {
    margin:  2px 0px 0px;
    padding: 10px 32px;
    background: rgb(100, 21, 255);
    color: white;
    line-height: 1.5;
    font-size: 16px;
    border-radius: 9999px;
    border: none;   
}

.nav__link--primary:hover {
    background-color: rgba(80, 17, 204);
    text-decoration: none;
    transform: translateY(1px)
}

.nav__link--primary:after {
    content: "";
    width: 0px;
    height: 0px;
}

.nav__link::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background-color: rgb(100, 21, 255);
    transition: 300ms;
    opacity: 0;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
    cursor: pointer;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
    cursor: pointer;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/

header {
    position: relative;
    width: 100%;
    max-width: 1200px;
}

h1 {
    box-sizing: border-box;
    font-size: 42px;
    font-weight: 700;
    height: 37.5px;
    line-height: 1.25;
    text-align: left;
    max-width: 70%;
}

#header .container {
    padding: 96px 0;
    margin: 0 auto;
}
  
.header__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; 
    margin: 0 auto;
}

.header__description {
    margin: 32px;
    width: 40%;
}

.header__description--para {
    font-size: 16px;
    width: 70%;
    height: 72px;
    line-height: 24px;
    margin-block-end: 32px;
    margin-block-start: 32px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 32px;
    margin-bottom: 50px;
    padding-top: 60px;
    padding-right: 25px;
}

.header__email {
    margin-left: 132px;
    margin-top: 50px;
    display: flex;
    height: 68px;
    justify-content: flex-end;
    width: 100%;
    max-width: 448px;
    position: relative;
    align-items: center;
}

.header__email--input {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    flex-grow: 2;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 231, 235);
    border-radius: 500px;
    border-style: solid;
    border-width: 1.6px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    box-sizing: border-box;
    color: rgb(224, 226, 230);
    cursor: text;
    font-kerning: auto;
    font-optical-sizing: auto;
    padding-block-end: 20px;
    padding-block-start: 20px;
    padding-inline-end: 192px;
    padding-inline-start: 20px;
    text-align: start;
    max-width: 500px;
    position: relative;
    margin-right: 150px;
    overflow-clip-margin: 0px;
    overflow-y: clip;
    overflow-x: clip;
    z-index: 1;
    width: 445px;
    transition-timing-function: ease;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px)
}

.header__email--button {
    background-color: rgb(100, 21, 255);
    color: white;
    border-radius: 500px;
    border-image-repeat: stretch;
    padding-right: 30px;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 700;
    height: 52px;
    border-radius: 30px;
    border: none;
    display: flex;
    position: absolute;
    justify-content: end;
    margin: 8px;
    border-image-width: 1;
    font-kerning: auto;
    font-optical-sizing: auto;
    text-align: center;
    width: 160px;
    margin-right: 158px;
    z-index: 2;
}

.header__customers--title {
    font-size: 12px;
    color: rgb(160, 174, 192);
    font-weight: 700;
    height: 18px;
    line-height: 18px;
    margin-block-start: 80px;
    margin-block-end: 0px;
    margin-top: 80px;
}

.header__img--wrapper {
    display: flex;
    justify-content: flex-end;
    margin-block-start: 24px;
    margin-top: 48px;
    width: 100%;
}

.header__img {
    width: 100%;
    max-width: 1000px;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;   
}

.header__customers {
    margin-top: 16px;
    opacity: 0.5;
    width: 400px;
}

input::placeholder {
    white-space-collapse: preserve;
    text-wrap-mode: nowrap;
    overflow-wrap: normal;
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: initial;
}



/* 

FEATURES ↓

*/

#features {
    position: relative;
}

section{
    padding: 0 32px;
}

.section__tag {
    font-size: 16px;
    font-weight: 700;

}

.section__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 72px;
    margin: 16px 0;
    text-align: center;
    letter-spacing: 0.025em;
}

.section__para {
    color: rgb(124, 139, 161);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    max-width: 576px;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 32px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    height: 425px;
    margin-top: 40px;
    max-width: 1200px;
    position: relative;
}

.row {
    width: 100%;
    letter-spacing: 1.6px;
    display: flex;
}

#features .row__narrow {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features .section__title,
#pricing .section__title {
text-align: center;
}

.feature {
    height: 200px;
    width: 380px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%/3);
}

.service {
    display: flex;
}

.service__description {
    display: flex;
    flex-direction: column;
}

.feature__row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    height: 208px;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 32px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 32px;
}

.feature__title {
    font-size: 24px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    width: 250px;
    unicode-bidi: isolate;
    padding-left: 30px;
    padding-top: 10px;
}

.feature__img--wrapper {
    border-color: rgb(229, 231, 235);
    border-style: solid;
    border-width: .8px;
    border-radius: 500px;    
    border-image-source: none;
    border-image-width: 1;
    color: rgb(36, 62,99);
    display: flex;
    width: 65px;
    height: 65px;
    unicode-bidi: isolate;
}

.feature__img {
    display: flex;
    height: 24px;
    width: 24px;
    margin-top: 20px;
    margin-left: 20px;
}

.feature__para {
    color: rgb(124, 139, 161);
    font-size: 16px;
    font-weight: 500;
    height: 96px;
    line-height: 32px;
    margin-block-start: 16px;
    max-width: none;
    padding-left: 30px;
    padding-top: 10px;
}


/* 

QUALITY WORK ↓

*/

section {
    padding: 0 32px;
}

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quality .container {
    padding: 96px 0;
    margin: 0;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

.quality__description,
.quality__img--wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#quality .section__tag {
    color: rgb(100, 21, 255);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    margin-left: 2px;
}

#quality .section__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.5;
    margin: 16px 0; 
    text-align: start;
}

.section__para {
    color: rgb(124, 139, 161);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    text-align: start;
    margin-bottom: 25px;
    padding-left: 0px;
}

.btn {
    background-color: rgb(100, 21, 255);
    border-color: rgb(255, 255, 255);
    border: none;
    border-radius: 500px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 10px;
    padding: 12px 32px;
    text-align: center;
    transition: all ease;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
    width: 50%;
}

.quality__img {
    display: flex;
    margin-top: 0;
    margin-left: 0;
    z-index: 1;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    fill: rgb(100, 21, 255);
    color: rgba(100, 21, 255);
    z-index: 0;
    display: block;
    bottom: 0;
    right: 0;
}

/* 

STEPS ↓

*/

section {
    padding: 0 32px;
}

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#steps .container {
    padding: 96px 0;
    margin: 0 auto;
}

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__description {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 50%;
    padding-bottom: 32px;
    padding-left: 64px;
    padding-right: 0;
    padding-top: 32px;
    margin-right: 50px;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
    width: 50%;
}

.steps__img {
    z-index: 2;
    width: 100%;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    width: 650px;
    z-index: 2;
}

.steps__grid {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
    z-index: -10;
    color: rgb(100, 21, 255);
    fill: currentColor;
    bottom: -50px;
    height: 80px;
    left: 224px;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    transform: matrix(1, 0, 0, 1, -40, 0);
    width: 80px;
    z-index: -10;
    margin-left: 100px;
    margin-right: 10px;
}

#steps .section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

#steps .section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62,99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
    text-align: left;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    align-items: center;
    padding-right: 25px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    columns: #243e63;
    line-height: 1;
    padding-bottom: 8px;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}



/* 

VALUES ↓

*/

#values .container {
    padding-bottom: 96px;
    padding-top: 96px;
}

#values .row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.values__description {
    padding-bottom: 32px;
    padding-right: 64px;
    padding-top: 32px;
    width: 50%;
    max-width: 450px;
}

#values .section__tag {
    color: rgb(100, 21, 255);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    padding-left: 1px;
}

#values .section__title {
    color: rgb(36, 62,99);
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 60px;
    margin-block-start: 16px;
    margin-block-end: 32px;
    margin-bottom: 32px;
    margin-top: 16px;
    text-align: left;
    width: 450px;
}

#values .section__para {
    color: rgb(124, 139, 161);
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    width: 450px;
}

.values__list {
    color: rgb(36, 62,99);
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 64px;
    max-width: none;
}

.value {
    color: rgb(36, 62,99);
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    margin-left: 0px;
    margin-top: 32px;
    align-items: flex-start;
}

.value__title {
    align-items: center;
    display: flex;
}

.value__img--wrapper1 {
    align-items: center;
    background-color: rgb(154, 230, 180);
    border-radius: 50%;
    color: rgb(36, 62,99);
    display: flex;
    height: 36px;
    justify-content: center;
    width: 36px;
    unicode-bidi: isolate;
}

.value__img {
    color: rgb(36, 62,99);
    height: 20px;
    overflow-clip-margin: content-box;
    overflow-y: hidden;
    overflow-x: hidden;
    stroke: rgb(39, 103, 73);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    width: 20px;
}

.value__name {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-left: 12px;
}

.value__para {
    color: rgb(113, 128, 150);
    display: block;
    line-height: 26px;
    margin-top: 16px;
}

.value__img--wrapper2 {
    align-items: center;
    background-color: rgb(254, 178, 178);
    border-radius: 50%;
    color: rgb(36, 62,99);
    display: flex;
    height: 36px;
    justify-content: center;
    width: 36px;
    unicode-bidi: isolate;
}

.values__img {
    display: flex;
    overflow-clip-margin: content-box;
    overflow-y: clip;
    overflow-x: clip;
    width: 100%;
    max-width: 650px;
}

/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing .section__tag{
    color: rgb(100, 21, 255);
    display: block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

#pricing .section__title{
    color: rgb(36, 62,99);
    display: block;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 72px;
    margin-block-end: 16px;
    margin-inline-start: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
    text-align: center;
}

#pricing .section__para {
    color: rgb(124, 139, 161);
    font-size: 18px;
    font-weight: 500;
    line-height: 29.25px;
    max-width: 576px;
    text-align: center;
}

.plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

.plan {
    color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(26, 32, 44);
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    width: calc(100% / 3);
    max-width: 400px;
    padding-left: 2px;
    padding-right: 120px;
    padding-top: 8px;
    position: relative;
    text-align: center;
}

.plan__stripe1 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
    color: rgb(247, 250, 252);
    display: block;
    height: 8px;
    left: 0px;
    right: 0px;
    margin: 0px;
    position: absolute;
    text-align: center;
}

.plan__top {
    box-sizing: border-box;
    color: rgb(36, 62, 99);
    display: flex;
    flex-direction: column;
    height: 209px;
    line-height: 26px;
    padding-bottom: 32px;
    padding-top: 32px;
    text-align: center;
    text-transform: uppercase;
    border-bottom-color: rgb(229, 231, 235);
    border-bottom-style: solid;
    border-bottom-width: 1.6px;
    border-top-color: rgb(229, 231, 235);
    border-bottom-style: solid;
}

.plan__name {
    box-sizing: border-box;
    color: rgb(26, 32, 44);
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 32.5px;
    text-align: center;
    text-transform: uppercase;
}

.plan__price {
    font-size: 48px;
    font-weight: 700;
    line-height: 78px;
    margin-bottom: 4px;
    margin-top: 4px;
    text-align: center;
    text-transform: uppercase;
}

.plan__duration {
    box-sizing: border-box;
    color: rgb(160, 174, 192);
    display: block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

.plan__middle {
    border-bottom-color: rgb(229, 231, 235);
    border-bottom-style: solid;
    border-bottom-width: 1.6px;
    border-top-color: rgb(229, 231, 235);
    border-bottom-style: solid;
    border-bottom-width: 1.6px;
    box-sizing: border-box;
    color: rgb(36, 62,99);
    display: flex;
    flex-direction: column;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 0px;
    margin-left: -32px;
    margin-right: -32px;
    margin-top: 0px;
    padding: 32px;
    text-align: center;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    color: rgb(26, 32, 44);
    letter-spacing: .5px;
    line-height: 30px;
    text-align: center;
}

.plan__feature {
    color: rgb(113, 128, 150);
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-block-start: 20px;
    margin-top: 20px;
    text-align: center;
}

.plan__bottom {
    color: rgb(36, 62, 99);
    display: block;
    height: 113px;
    margin-top: 64px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.plan__button1 {
    appearance: auto;
    background-attachment: scroll;
    background-clip: border-box;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-color: rgb(247, 250, 252);
    border-radius: 9999px;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-style: none;
    cursor: pointer;
    display: inline-block;
    font-kerning: auto;
    font-optical-sizing: auto;
    border-radius: 9999px;
    padding-block-end: 16px;
    padding-block-start: 16px;
    padding-inline-start: 32px;
    padding-inline-end: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 80px;
    padding-right: 80px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    width: 100%;
    max-width: 256px;
}

.plan1 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-style: solid;
    border-color: #eae9ee;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    box-sizing: border-box;
    color: rgb(26, 32, 44);
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    width: 100%;
    max-width: 384px;
    padding-bottom: 0px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    position: relative;
    text-align: center;
}

.plan2 {
    border-style: solid;
    border-color: #875cdc;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    box-sizing: border-box;
    color: rgb(26, 32, 44);
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    width: 100%;
    max-width: 384px;
    padding-bottom: 0px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    position: relative;
    text-align: center;
}

.plan__stripe2 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
    color: rgb(247, 250, 252);
    display: block;
    height: 8px;
    left: 0px;
    right: 0px;
    margin: 0px;
    position: absolute;
    text-align: center;
}

.plan__top2 {
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    line-height: 26px;
    padding-bottom: 32px;
    padding-top: 32px;
    text-align: center;
    text-transform: uppercase;
    border-bottom-color: #6830d7;
    border-bottom-style: solid;
    border-bottom-width: 1.6px;
    border-bottom-style: solid;
}

.plan__name2 {
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 32.5px;
    text-align: center;
    text-transform: uppercase;
}

.plan__price2 {
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: 78px;
    margin-bottom: 4px;
    margin-top: 4px;
    text-align: center;
    text-transform: uppercase;
}

.plan__duration2 {
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

.plan__middle2 {
    border-bottom-color: #6830d7;
    border-bottom-style: solid;
    border-bottom-width: 1.6px;
    border-top-color: #6830d7;
    border-bottom-style: solid;
    border-bottom-width: 1.6px;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 0px;
    margin-left: -32px;
    margin-right: -32px;
    margin-top: 0px;
    padding: 32px;
    text-align: center;
}

.plan__target2 {
    font-size: 20px;
    font-weight: 700;
    color: white;
    letter-spacing: .5px;
    line-height: 30px;
    text-align: center;
}

.plan__feature2 {
    color: white;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-block-start: 20px;
    margin-top: 20px;
    text-align: center;
}

.plan__bottom2 {
    color: rgb(36, 62, 99);
    display: block;
    padding: 32px;
    text-align: center;
}

.plan__button2 {
    appearance: auto;
    background-color: rgb(247, 250, 252);
    border-color: rgb(100, 21, 255);
    border-style: none;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    display: inline-block;
    color: #6415ff;
    border-radius: 9999px;
    padding-block-end: 16px;
    padding-block-start: 16px;
    padding-inline-start: 32px;
    padding-inline-end: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 80px;
    padding-right: 80px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    width: 100%;
    max-width: 256px;
}

.plan3 {
    border-style: solid;
    border-color: #eae9ee;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    box-sizing: border-box;
    color: rgb(26, 32, 44);
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    width: 100%;
    max-width: 384px;
    padding-bottom: 0px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    position: relative;
    text-align: center;
}

.plan__stripe3 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(115deg,rgb(245, 101, 101) 0%,rgb(254, 178, 178) 100%);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
    color: rgb(247, 250, 252);
    display: block;
    height: 8px;
    left: 0px;
    right: 0px;
    margin: 0px;
    position: absolute;
    text-align: center;
}

.plan__button3 {
    appearance: auto;
    background-attachment: scroll;
    background-clip: border-box;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-color: rgb(247, 250, 252);
    border-radius: 9999px;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-style: none;
    cursor: pointer;
    display: inline-block;
    font-kerning: auto;
    font-optical-sizing: auto;
    border-radius: 9999px;
    padding-block-end: 16px;
    padding-block-start: 16px;
    padding-inline-start: 32px;
    padding-inline-end: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 80px;
    padding-right: 80px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    width: 100%;
    max-width: 256px;
}

.plan__button:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* 

TESTIMONIALS ↓

*/

#testimonials .container {
    padding-left: 10px;

}

#testimonials .row {
    display: flex;
}

.testimonial__img {
    width: 50%;
    max-width: 600px;
    overflow-clip-margin: content-box;
    overflow-y: clip;
    overflow-x: clip;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    height: 595px;
    margin-top: 64px;
    width: 60%;
    max-width: 550px;
    text-align: left;
    padding-left: 64px;
}

#testimonials .section__tag {
    color: rgb(100, 21, 255);
    display: block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    height: 19px;
    text-align: left;
    width: 448px;
}

#testimonials .section__title {
    text-align: left;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 60px;
    margin-block-start: 16px;
    margin-block-end: 24px;
    margin-bottom: 24px;
    margin-top: 16px;
    margin-left: 0px;
}

#testimonials .section__para {
    text-align: left;
    color: rgb(124, 139, 161);
    font-size: 18px;
    font-weight: 500;
    height: 88px;
    line-height: 29.25px;
    margin-left: 0;
}

.testimonial {
    color: rgb(36, 62, 99);
    margin-top: 40px;
    text-align: left;
}

.testimonial__rating {
    height: 19px;
    text-align: left;
}

.fa-star:before {
    color: rgb(246, 173, 85);
    height: 22px;
    margin-top: 4px;
    margin-right: 2px;
}

.testimonial__title {
    font-size: 20px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    text-align: left;
    margin-block-start: 16px;
    margin-top: 16px;
}

.testimonial__para {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-block-end: 32px;
    margin-bottom: 32px;
    margin-top: 16px;

}

.testimonial__bottom {
    display: flex;
    justify-content: space-between; 
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonials__img {
    border-radius: 50%;
    overflow-clip-margin: content-box;
    overflow-y: clip;
    overflow-x: clip;
    width: 100%;
    max-width: 80px;
}

.testimonial__details {
    margin-left: 24px;
    margin-top: 12px;
}

.testimonial__name {
    font-size: 20px;
    font-weight: 700;
    height: 32px;
}

.testimonial__role {
    color: rgb(124, 139, 161);
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__buttons {
    align-items: center;
    display: flex;
    height: 80px;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 13px;
    align-items: center;
    appearance: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-image: none;
    background-color: rgb(237, 242, 247);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    border-color: rgb(36, 62, 99);
    border-radius: 50%;
    border-style: none;
    border-bottom-width: 0px;
    font-weight: 400;
    justify-content: center;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    height: 48px;
    padding-block-end: 16px;
    padding-block-start: 16px;
    padding: 16px;
    text-align: center;
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all ease;
    width: 48px;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms;
}
    
button {
    cursor: pointer;
    border: none;
}
    
.testimonial__button svg {
    width: 16px;
    height: 16px;
}

.divider {
    width: 1px;
    height: 24px;
    background: rgb(229, 231, 235);
}
    
.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms;
}

.testimonial__button:hover {
    background-color: rgba(226,232,240);
    }

.testimonial__button svg {
    width: 16px;
    height: 16px;
}
    

/* 

START / CALL TO ACTION ↓

*/

#start .container {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 0px;
}

#start .row {
    position: relative;
    overflow: hidden;
}

.start__blob--1 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-80px) translateY(128px) scaleX(1) scaleY(1);
    width: 320px;
    height: 320px;
    z-index: 1;
    opacity: 0.5;
}

.start__blob--2 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(80px) translateY(-256px);
    width: 320px;
    height: 320px;
    z-index: 1;
    opacity: 0.5;
}

.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title {
    color: rgb(247, 250, 252);
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
    width: 50%;
}

.start__buttons {
    color: rgb(36, 62, 99);
    display: flex;
    justify-content: flex-end;
    width: 50%;
    max-width: 460px;
    transform: translateY(1px);
}

.start__button.btn1:hover {
    background-color: rgba(229, 62, 62);
    
}

.start__button.btn2:hover {
    background-color: rgb(247, 244, 244);
    color: rgba(100, 21, 255);
}

.start__button.btn1 {
    appearance: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(245, 101, 101);
    background-image: none;
    background-origin: padding-box;
    background-position: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-color: rgb(247, 250, 252);
    border-radius: 500px;
    border-style: none;
    border-image-repeat: repeat;
    border-image-slice: 100%;
    border-image-source: none;
    cursor: pointer;
    display: block;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 700;
    height: 65px;
    line-height: 24px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 32px;
    margin-top: 1px;
    padding-block-end: 20px;
    padding-block-start: 20px;
    padding-block-end: 40px;
    padding-inline-start: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all ease;
    z-index: 2;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    transition: all 300ms;
}

.start__button.btn2 {
    appearance: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(100, 21, 255);
    background-image: none;
    background-origin: padding-box;
    background-position: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-color: rgb(160, 174, 192);
    border-radius: 500px;
    border-style: solid;
    border-width: 0.8px;
    border-image-repeat: repeat;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    cursor: pointer;
    display: block;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 700;
    height: 65px;
    line-height: 24px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 32px;
    margin-top: 1px;
    padding-block-end: 20px;
    padding-block-start: 20px;
    padding-block-end: 40px;
    padding-inline-start: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all ease;
    z-index: 2;
    color: #fff;
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms;
}

/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -64px;
    position: relative;
    overflow: hidden;
}

.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px);
    transform: translateY(-128px);
    z-index: 1;
    opacity: 0.5;
}

.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 320px;
    width: 320px;
    opacity: 0.5;
    overflow-clip-margin: content-box;
    overflow-y: hidden;
    overflow-x: hidden;
    transform: translateX(128px);
    transform: translateY(192px);
    z-index: 1;
    opacity: 0.5;
    
}

.footer__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -48px;
    width: 1200px;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}

.footer__column--link {
    color: #f7fafc;
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

a {
    display: inline;
    text-decoration: none;
}

.footer__column--link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all 300ms ease;
    opacity: 0;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background-color: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.footer__logo {
    align-items: center;
    display: flex;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    color: rgb(247, 250, 252);
    font-size: 20px;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}

.footer__copyright {
    color: rgb(203, 213, 224);
    font-weight: 500;
}

.footer__socials {
    align-items: center;
    display: flex;
    margin-left: -16px;
}

.footer__social--link {
    margin-left: 16px;
    color: #243e63;
    padding: 8px;
    background-color: #f7fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
    height: 32px;
    width: 32px;
}

.footer__social--link svg {
    height: 16px;
    width: 16px;
}

/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        flex-direction: column;
    }

    .header__customers {
        padding-right: 64px;
    }

    .header__img {
        max-width: 512px;
    }

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }

    header .row {
        flex-direction: column;
        align-items: center;
    }

    .header__row {
        flex-direction: column;
    }

    .header__description {
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .header__description,
    .header__img--wrapper {
        width: 100%;
        max-width: 512px;
        margin: 0 auto;
    }

    .header__description--para {
        margin-top: 72px;
    }

    .header__img {
        max-width: 512px;
    }

    .header__email {
        margin-left: 60px;
        margin-top: 50px;
        display: flex;
        height: 68px;
        justify-content: center;
        width: 100%;
        max-width: 448px;
        position: relative;
        align-items: center;
    }

    .header__email--button {
        background-color: rgb(100, 21, 255);
        color: white;
        border-radius: 500px;
        border-image-repeat: stretch;
        padding-right: 30px;
        padding-top: 16px;
        font-size: 16px;
        font-weight: 700;
        height: 52px;
        border-radius: 30px;
        border: none;
        display: flex;
        position: absolute;
        justify-content: end;
        margin: 8px;
        border-image-width: 1;
        font-kerning: auto;
        font-optical-sizing: auto;
        text-align: center;
        width: 160px;
        margin-right: -100px;
        z-index: 2;
    }

    .header__customers {
        padding-right: 0px;
    }
    
    .features {
        margin-bottom: 140px;
        justify-content: center;
    }

    #features .section__title,
    #pricing .section__title,
    #quality .section__title,
    #values .section__title {
        line-height: 1.25;
        font-size: 48px;
    }

    .steps__img {
        max-width: 512px;
    }

    .steps__grid {
        margin-left: 32px;
    }

    .values__img {
        max-width: 400px;
    }

    .plans {
        flex-direction: column;
        align-items: center;
        width: calc(100/3);
    }

    .testimonials__description {
        padding-right: 50px;
        margin-bottom: 64px;

    }

    footer {
        padding: 80px 32px;
    }

    li {
        content-visibility: hidden;
    }
}

@media(max-width: 768px) {

    .header__description {
        text-align: center;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    .header__img {
        content-visibility: hidden;
    }

    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }

    .feature__row {
        padding-bottom: 120px;
    }
    .section__para {
        font-size: 14px;
    }

    .values__list {
        margin: 0 auto;
    }

    .quality__description,
    .steps__description,
    .values__description,
    .testimonials__description,
    .values__img {
        text-align: center;
        padding: 0;
        margin-top: 64px;
        width: 100%;
        max-width: 448px;
    }

    #quality .section__tag {
        margin-left: -300px;
    }

    #quality .btn {
        margin-left: -300px;
    }
    
    .quality__img--wrapper {
        margin-top: 600px;
        margin-bottom: 100px;
    }
    .quality__img {
        width: 100%;
        max-width: 448px;
    }

    .quality__description {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }

    .steps__img--wrapper {
        margin-right: 150px;
        margin-bottom: 60px;
    }

    #steps .section__tag {
        margin-left: -384px;
    }

    #pricing .row {
        margin-top: 40px;
    }

    .start__container {
        display: flex;
        flex-direction: column;;
    }

    .start__row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .start__title {
        margin-bottom: 28px;
    }

    .start__buttons {
        position: relative;
        z-index: 1;
        margin-left: 60px;
    }
    .start__button.btn1,
    .start__button.btn2 {
        text-align: center;
        padding-top: 10px;
        overflow: visible;
        
    }

    .footer__column {
        width: calc(100% / 3);
    }
    .footer__copyright,
    .footer__socials {
        margin-top: 32px;
    }
    .start__row {
    flex-direction: column;
    }
    .footer__social--link:first-child {
    margin-left: 0px;
    }

    .value__para {
    text-align: left;
    }

    .start__title {
    width: 100%;
    text-align: center;
    }
}


@media(max-width: 640px) {

    .container {
        padding: 80px 0;
    }

    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }

    main {
        margin-bottom: 80px;
    }

    .header__row {
        display: flex;
        flex-direction: column;
    }

    .header__img--wrapper {
        max-width: 446px;
    }
    .header__img {
        max-width: 446px;
    }

    .header__email--input {
        position: static;
        padding: 16px 0px;
        padding-left: 32px;
        line-height: 1.5;
    }

    .header__email {
        flex-direction: column;
        height: auto;
    }
    .header__description--para {
        margin-top: 72px;
    }

    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }

    .header__email--btn {
        width: 100%;
        padding: 16px 0;
        margin: 16px 0;
        margin-bottom: 0px;
        line-height: 1.5;
    }

    .header__customers--title {
        font-size: 14px;
        letter-spacing: 0.05em;
    }

    .start__container {
        padding: 80px 0;
        }
        .start__title {
        font-size: 24px;
        }   

    #steps .steps__img--wrapper {
        margin-right: 280px;
        margin-bottom: 60px;
    }

    .start__buttons {
        margin-left: 124px;
    }

    .start__button.btn1,
    .start__button.btn2 {       
        justify-content: center;
        align-items: center;
        padding-top: 8px;
        line-height: 1.5;
    }

    .footer__logo--text {
        font-size: 14px;
    }
    .footer__copyright {
        font-size: 12px;
        padding-bottom: 30px;
    }
    .footer__socials {
        padding-bottom: 30px;
    }
    }
}